<div class="flex flex-col gap-4">
  <%= render HeadingComponent.new(size: "h1", text: "本日の記事") %>
  <div>
    <% if @items.count.zero? %>
      <div class="text-sm text-slate-600">本日の記事はありません。</div>
    <% else %>
      <%= render partial: "items/item", collection: @items, as: :item, locals: { type: "list" } %>
    <% end %>
  </div>
</div>
