<div class="p-2 bg-white shadow border">
  <div class="text-xs text-slate-600 mb-2">検索結果</div>

  <% if feeds.count.zero? %>
    <div class="text-sm text-slate-800">見つかりません</div>
  <% else %>
    <% feeds.each do |feed| %>
      <%= link_to feed_path(feed), class: "w-full p-2 flex items-center gap-4 hover:bg-gray-100 rounded", data: { turbo: false } do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 19.5v-.75a7.5 7.5 0 0 0-7.5-7.5H4.5m0-6.75h.75c7.87 0 14.25 6.38 14.25 14.25v.75M6 18.75a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
        </svg>
        <div class="flex flex-col">
          <div class="text-sm font-bold">
            <%= feed.title %>
          </div>
          <div class="text-xs text-slate-600">
            <%= feed.description %>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
