<div class="flex flex-col gap-4">
  <div class="flex justify-between items-center">
    <%= render(HeadingComponent.new(size: "h1", text: "全てのフィード")) %>
    <%= render(ButtonComponent.new(text: "追加する", href: new_feed_path)) %>
  </div>
  <div>
    <% @feeds.each do |feed| %>
      <%= feed.title %>
    <% end %>
  </div>
  <% cache("home_index_time") do %>
   <p>
     <%= Time.now %>
   </p>
 <% end %>
</div>
