<div class="flex flex-col gap-4">
  <div class="flex justify-between items-center">
    <%= render(HeadingComponent.new(size: "h1", text: "全てのフィード")) %>
    <%= render(ButtonComponent.new(text: "追加する", href: new_feed_path)) %>
  </div>
  <div>
    aaa
  </div>
</div>