<div class="flex flex-col gap-4">
  <div class="flex justify-between items-center">
    <%= render(HeadingComponent.new(size: "h1", text: @folder.name)) %>
    <div>aaa</div>
  </div>
  <div>
    aaa
  </div>
</div>
