<div class="w-full">
  <%= @form.label @label, class: "block font-bold text-xs mb-2" if @label.present? %>
  <%= @form.send(@field_type, @attribute_key, class: "block w-full appearance-none focus:outline-none rounded border shadow #{size_class} mb-2", placeholder: @placeholder, data: @data) %>
</div>
