<tr class="bg-white border-b">
  <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
    <%= link_to category.id, admin_category_path(category), class: "underline" %>
  </th>
  <td class="px-6 py-4">
    <%= category.name %>
  </td>
  <td class="px-6 py-4">
    <%= 4 %>
  </td>
</tr>
