<div class="flex flex-col gap-4 p-4">
  <%= render HeadingComponent.new(size: "h1", text: "カテゴリー：#{@category.name}") %>
  <div class="flex flex-col gap-6">
    <div>
      <div class="font-bold text-sm">ID</div>
      <%= @category.id %>
    </div>
    <div>
      <div class="font-bold text-sm">カテゴリ名</div>
      <%= @category.name %>
    </div>
    <div>
      <div class="font-bold text-sm">フィード数</div>
      <%= 1 %>
    </div>
  </div>
</div>
