<%= turbo_frame_tag :select_folder do %>
  <div class="bg-white border p-2 rounded shadow w-72">
    <div class="flex flex-col">
      <% current_user.folders.each do |folder| %>
        <div class="flex justify-between items-center hover:bg-gray-100 p-2 rounded">
          <div class="flex items-center gap-1 text-sm text-slate-600">
            <%= icon "folder" %>
            <%= folder.name %>
          </div>
          <%= render "feed_subscriptions/add_button", feed: @feed, folder: folder %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
